*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(244, 215, 252);
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #f1f1f1;
}

a{
    color: #f1f1f1;
    display: blocks;
}

header{
    background-color: rgb(76, 76, 70);
    margin: 0px auto;
    height: 80px;
    
}

input{
    background-color: #f1f1f1;
    border: none;
    color: rgb(154, 108, 223);
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}